h2 {
    font-family: 'Courier New', monospace;
}

h4 {
    font-family: 'Trebuchet MS', sans-serif;
}

h5 {
    font-family: Georgia, serif;
    color: #808080;
}

th {
    width: 3%;
}

@media (max-width: 768px) {
    img {
        width: 75%;
    }
}